{% extends 'basic.html' %}
{% block title %} About {% endblock title %}
{% block body %}
{% load static %}
 <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <h5>Hey My name is Orazbek Abylaihan. My nickname on the Internet is Katsura-Khan. I am a data engineer from Kazakhstan, actively studying computer science. I like to do sports and creativity in my spare time. I am always interested to learn more when it comes to new technologies and creative coding.</h5>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{% static 'assets/img/profile-img.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Data Engineer &amp; Web Developer.</h3>
            <p class="fst-italic">
              
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>24 June 2000</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.orazbek-abylaikhan.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+7 777 490 8114</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Almaty, KAZ</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>22</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelor</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>orazbek.abylai.job@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
            
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

{% endblock body %}